<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://airpollution20180501114831.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>airpollution20180501114831.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>airpollution20180501114831</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$airpollution20180501114831</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MSSQL_DBconnect" Order="2" Enabled="False">
          <Destination Path="Data Source=163.17.9.68;Initial Catalog=DB1_05;User ID=DB1_05;Password=DB1_05" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=163.17.9.68;Database=DB1_05;User Id=DB1_05;Password=DB1_05; " includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MSSQL_DBconnect_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=163.17.9.68;Database=DB1_05;User Id=DB1_05;Password=DB1_05; " MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MSSQL_DBconnect-Web.config Connection String">
      <ParameterValue>Data Source=163.17.9.68;Initial Catalog=DB1_05;User ID=DB1_05;Password=DB1_05</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DB1_05ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=163.17.9.68;Initial Catalog=DB1_05;User ID=DB1_05;Password=DB1_05</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>